body{
    background-image: url(/img/Fundo.png);
    background-size: cover;
    object-fit: cover;
    font-family: 'Times New Roman', Times;
}

.bg_gray{
    background-color: #c0c0c0;
    border-bottom: 1px;
    border-color: #bdbdbd;
    border-style: inset;
    border-top: none;
    border-left: none;
    border-right: none;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixalogin{
    background-color: #efeeee;
    height: 75vh;
    width: 85vw;
    margin-top: 9vh;
    border: 1px;
    border-style:solid;
    border-color: #bdbdbd;
    background-position: center;
}

.emaillogin{
    opacity: none;
}

.imagemlogin{
    background-image: url(/img/ImgLogin.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    border-style: solid;
    border-color: #bdbdbd;
    background-position: center;
}

.autoh{
    height: 74vh;
    padding-top: 10px;
}