body{
    font-family: 'Times New Roman', Times;
}

.bg_gray{
    background-color: #b3fdc3;
    border-bottom: 1px;
    border-color: #009673;
    border-style: inset;
    border-top: none;
    border-left: none;
    border-right: none;
}

.bg_box{
    margin-top: 5vh;
    padding: 5px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixalogin{
    background-color: #b3fdc3;
    height: 75vh;
    width: 85vw;
    margin-top: 9vh;
    border: 1px;
    border-style:solid;
    border-color: #009673;
    background-position: center;
}

.emaillogin{
    opacity: none;
}

.imagemlogin{
    background-image: url(/img/ImgLogin.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    border-style: solid;
    border-color: #009673;
    background-position: center;
}

.autoh{
    height: 74vh;
    padding-top: 10px;
}

#bg_black{
    background-color: black;
}

.card1{
    min-height: 588px;
    background-size: cover;
    object-fit: cover;
}

.carousel-indicators{
    margin-bottom: 0px;
    margin-top: 5px;
    position: relative;
}

.card:hover{
    transform: scale(1.01);
}

.card{
    transition: transform 0.3s;
}

.linha{
    
}